{% extends 'base.html' %}
{% block scripts %}
<script src="/media/js/index.js" xmlns="http://www.w3.org/1999/html"></script>
{% endblock %}
{% block content %}
{% if messages %}
    <div class="messages">
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    </div>
{% endif %}
<div id="slide">
  <div class="slider">
    <ul class="items">
      <li><img src="/media/images/slider-1.jpg" alt="">
        <div class="banner">
          <p class="text-1">Нужна <strong>помощь?</strong></p>
          <p class="text-2">Здесь ты можешь попросить людей о любой услуге и люди тебе помогут!</p>
        </div>
      </li>
      <li><img src="/media/images/slider-2.jpg" alt="">
        <div class="banner">
          <p class="text-1">Ты не должен <strong>платить им!</strong></p>
          <p class="text-2">Взамен ты должен оказать три любых услуги другим людям, которые просят помочь им на сайте.</p>
        </div>
      </li>
      <li><img src="/media/images/slider-3.jpg" alt="">
        <div class="banner">
          <p class="text-1">Они ещё трём<strong>и так далее!</strong></p>
          <p class="text-2">Люди будут всё больше и больше помогать друг другу и в мире станет больше добра!</p>
        </div>
      </li>
    </ul>
  </div>
</div>
<!--==============================content================================-->
<section id="content">
  <div class="container_12">
    <div class="grid_6 box-1"> <img src="/media/images/page1-img1.png" alt="">
      <div class="extra-wrap">
        <h2><a href="/create_task" id="create_task">Есть просьба!</a></h2>
        <p>Вы можете попросить людей из нашего сообщества сделать что-то нужное для вас. После этого вам нужно будет выполнить любые три просьбы других людей на сайте.</p>
      </div>
    </div>
    <div class="grid_6 box-1">
          {% if avatar %}
              <img class="img-border" src="{{ avatar }}" alt=""/>
          {% elif user.is_authenticated %}
          {% else %}
              <img src="/media/images/login.png" alt="">
          {% endif %}
      <div class="extra-wrap">
        {#<h2>Вход</h2>#}
          <div class="login form">
          {% if user.is_authenticated %}
              <h2>
                Привет, <a href="/profile/{{ user.id }}">{{ user }}</a>
              </h2>
              <a class="bigButton" href="/profile/{{ user.id }}">Личный кабинет</a>
              <a class="bigButton" href="/auth/logout">Выход</a>
          {% else %}
              <form method="POST" action="/auth/login/" enctype="multipart/form-data" id="login_form">
                {% csrf_token %}
                <input type="text" value="Логин" name="username" onblur="if(this.value=='') this.value='Логин'" onfocus="if(this.value =='Логин' ) this.value=''">
                <input type="text" value="Пароль" name="password" onblur="if(this.value=='') this.value='Пароль'" onfocus="if(this.value =='Пароль' ) this.value=''">
                <input class="button" value="Вход" type="submit" />
              </form>
          {% endif %}
          </div>
      </div>
    </div>
    <div class="grid_12 box-2">
      <div>
        <p class="text-3">По мотивам фильма <span>Заплати другому</span></p>
        <p class="text-4">Вместе мы способны изменить мир к лучшему, это проще, чем ты думаешь!</p>
      </div>
    </div>
    <div class="grid_8">
      <h2 class="top-1"><a href="/tasks">Важные просьбы</a></h2>
      <div class="box-3">
        {% for task in important_tasks %}
            <div><a href="/task/{{ task.id }}"><img src="/uploads/{{ task.task_photo }}" alt="" class="img-border"></a> <a href="/task/{{ task.id }}" class="link-2">{{ task.title }}</a>
              <p>{{ task.description|slice:"50" }}</p>
            </div>
        {% endfor %}
      </div>
    </div>
    <div class="grid_8">
      <h2 class="top-1"><a href="/tasks">Свежие просьбы</a></h2>
        <div class="box-3">
              {% for task in fresh_tasks %}
                  <div><a href="/task/{{ task.id }}"><img src="/uploads/{{ task.task_photo }}" alt="" class="img-border"></a> <a href="/task/{{ task.id }}" class="link-2">{{ task.title }}</a>
                      <p>{{ task.description|slice:"50" }}</p>
                  </div>
              {% endfor %}
        </div>
    </div>
      <div class="clear"></div>
  </div>
</section>
    <div id="create_task_dialog" title="Добавление просьбы">
        <form method="POST" class="form" action="/create_task/" enctype="multipart/form-data" id="create_task_form">
            {% csrf_token %}
            {{ task_form.as_p }}
            <input type="submit" class="button top-4" value="Добавить">
        </form>
    </div>
{% endblock %}