{% extends 'base.html' %}
{% block content %}
<!--==============================content================================-->
<section id="content">
  <div class="container_12 top">
    <div class="grid_8 profile">
      <div class="box-5 right-1"> <img src="/media/images/photo.jpg" alt="" class="img-border fleft ava">
        <h2>{{ profile }}</h2>
        <p>Выполнил просьб: {{ profile.end_tasks }}</p>
        <p>Просьб к сообществу: {{ profile.gevt_tasks }}</p>
        <h3>Карма {{ profile.karma }}</h3>
        <img src="/uploads/{{ provile.ava }}" alt="">
      </div>
 </div>
    <div class="grid_4">
      <h2>Просит</h2>
      <div class="box-6 top-5"> <img src="/media/images/page2-img2.jpg" alt="" class="img-indent img-border">
        <p><a href="#" class="link">Поклейте мне обои</a><br>
          Sadicing elitriam nonumy eirmod nonumy eirmod tempor invidunt labore psum dolor sit.</p>
      </div>
      <div class="box-6 top-6"> <img src="/media/images/page2-img3.jpg" alt="" class="img-indent img-border">
        <p><a href="#" class="link">Нужен дизайн на мой новый проект</a><br>
          Amet consetetur sadipscing elitrdiam nonumy eirmod tempor invidunt ut labore et dolore.</p>
      </div>
      <div class="box-6 top-6"> <img src="/media/images/page2-img4.jpg" alt="" class="img-indent img-border">
        <p><a href="#" class="link">Нужно помещение в центре города для выставки</a><br>
          Sadicing elitriam nonumy eirmod nonumy eirmod tempor invidunt labore psum dolor sit.</p>
      </div>
      <a href="#" class="button top-4">Больше просьб</a> </div>
      <div class="clear"></div>
  </div>
</section>
{% endblock %}